table, td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

thead td {
    background-color: black;
    color: white;
}

th {
    background-color: black;
    color: white;
}

table {
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: lightblue;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

caption {
    caption-side: bottom;
    padding: 10px;
}