@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Gemunu+Libre&display=swap");

html{
    background-color: lightgray;
}

body{
    background-color: white;
    font-size: 20px;
    padding: 25px;
    width: 800px;
    margin: 0 auto;
    font-family: "Gemunu Libre";

}

header{
    display: flex;
    gap: 20px;
    background-color: rgb(40, 139, 231);
    border: 10px solid black;
    color: white;
}

footer {
    background-color: rgb(40, 139, 231);
    border: 10px solid black;
    padding: 25px;
    color: white;
}

#result{
color: orangered;
}